	<script src="${REVEAL_URL}/reveal.js"></script>

	<script>
		// Full list of configuration options available here:
		// https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			width : $width,
			height : $height,
			controls : $controls,
			progress : $progress,
			history : $history,
			center : $center,
			slideNumber:$slideNumber,
			autoSlide:$autoSlide,
			loop:$loop,
			embedded:$embedded,
			margin:$margin,

			theme : '$themeReveal', // available themes are in /css/theme
			transition : '$transition', // default/cube/page/concave/zoom/linear/fade/none

			// Parallax scrolling
			// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
			// parallaxBackgroundSize: '2100px 900px',

			// Optional libraries used to extend on reveal.js
			dependencies : [ {
				src : '${REVEAL_URL}/lib/js/classList.js',
				condition : function() {
					return !document.body.classList;
				}
			}, {
				src : '${REVEAL_URL}/plugin/markdown/marked.js',
				condition : function() {
					return !!document.querySelector('[data-markdown]');
				}
			}, {
				src : '${REVEAL_URL}/plugin/markdown/markdown.js',
				condition : function() {
					return !!document.querySelector('[data-markdown]');
				}
			}, {
				src : '${REVEAL_URL}/plugin/highlight/highlight.js',
				async : true,
				callback : function() {
					hljs.initHighlightingOnLoad();
				}
			}, {
				src : '${REVEAL_URL}/plugin/zoom-js/zoom.js',
				async : true,
				condition : function() {
					return !!document.body.classList;
				}
			}, {
				src : '${REVEAL_URL}/plugin/notes/notes.js',
				async : true,
				condition : function() {
					return !!document.body.classList;
				}
			} ]
		});
	</script>

</body>
</html>
